.promo-btn {
  @include btn;

  width: 497px;
  height: 104px;
  margin: auto;
  margin-top: 130px;
  padding: 20px 36px;

}

.portfolio-btn {
  @include btn;
  margin: auto;
  width: 497px;
  height: 104px;
  margin-top: 120px;
  margin-bottom: 214px;
  font-family: $font;

}

.form-btn {
  padding: 34px 0 36px;
  padding-left: 140px;
  padding-right: 150px;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: $color-light;
  font-family: $font;
  background-color: $color-red;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  border: none;

}
