.footer {
  padding: 31px 0;
  background-color: $color-dark;
}

.footer-inner {
  @include inner
}

.footer-wrap {
  display: flex;
  align-items: center;
  // justify-content: space-between;

}

.footer-logo {
  text-decoration: none;
  color: #fff;
  font-size: 42px;
  line-height: 57px;
  margin-left: 81px;
  margin-right: auto;

}

.footer-tel {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  line-height: 38px;
  margin-right: 60px;
}

.social {
  display: flex;
  list-style: none;

}

.social-item {
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

}

.social-link {
  display: block;
  color: $color-light;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
