.promo {
  padding: 200px 0;
  border-radius: 1px;
  background-image: url(../images/promo-photo.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 1px solid #000;



}

.promo-inner {
  @include inner;


}

.promo-titl {
  margin: auto;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: #fff;
  text-align: center;

}

.promo-wrap {
  text-align: center;
  margin: 100px 0 200px;

}


