@mixin inner {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;

}


@mixin btn {
  display: block;
  padding: 30px 36px;
  min-width: 497px;
  color: $color-light;
  font-family: 'open Sans';
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  background-color: $color-red;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;

}
